* {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}
.container {
  /* left: 10%; */
  /* position: fixed; */
  display: flex;
  width: fit-content;
  justify-content: center;
  padding-left: 40px;
}

.twt-logo {
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 9999px;
  margin-bottom: 10px;
}
.twt-logo:hover {
  background-color: rgba(202, 197, 197, 0.348);
}

.settings-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.settings-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  font-size: large;
}

.settings-btn span {
  margin-left: 10px;
}

.settings-btn:hover {
  background-color: rgba(202, 197, 197, 0.348);
  transition-duration: 0.2s;
}

.tweet-btn {
  background-color: rgb(29, 155, 240);
  text-align: center;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.tweet-btn a {
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.tweet-btn:hover {
  background-color: rgb(26, 140, 216);
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 9999px;
  max-width: 250px;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.content-container {
  flex-grow: 1;
  margin-left: 10px;
}

.username {
  font-weight: bold;
  margin: 0;
}

.userhandle {
  margin: 0;
}

.more-btn {
  margin-left: 10px;
  border: none;
  border-radius: 999px;
  background-color: transparent;
}
.profile-container:hover{
  background-color: rgba(202, 197, 197, 0.348);
}

@media screen and (max-width: 1000px) {
  span, .profile-container, .tweet-btn {
    display: none;
  }
  .settings-btn{
    width: 50px;
  }
  .container{
    left: 2%;
  padding-left: 20px;
  }
  .tweet-btn, .profile-container{
    display: none;
  }
}